<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">

    <servlet>
        <servlet-name>SomeServlet</servlet-name>    <!-- purpose is to map URL to servlet name to servlet class -->
        <servlet-class>SomeServlet</servlet-class>   <!-- ie. to call the right .class when user accesses the servlet's URL-->
    </servlet>
    <servlet-mapping>
        <servlet-name>SomeServlet</servlet-name>
        <url-pattern>/Someservlet</url-pattern>
    </servlet-mapping>

</web-app>